body{
    background-color:white;
    padding-top:0px;
    color:black;
}

body,input,button{
    font-family: 'Roboto', sans-serif;!
}


#todoList{
    height:auto;
    width:50%;
    float:left;
}

header{
    width:100%;
    height:80px;
    position: relative;
    padding:15px;
    top:0;
    left:0;
    z-index:5;
    background: #25b99a;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
}

header input{
    width:100%;
    height:50px;
    float:left;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    text-indent: 18px;
    padding:0 60px 0 0;
    background: rgba(255,255,255,0.2);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    border:0px;
    box-shadow: none;
    outline:none;

    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}

header input::-webkit-input-placeholder{
    color:rgba(255,255,255,0.75);
}

header input:-moz-input-placeholder{
    color:rgba(255,255,255,0.75);
}

header input::-moz-input-placeholder{
    color:rgba(255,255,255,0.75);
}

header input:-ms-input-placeholder{
    color:rgba(255,255,255,0.75);
}

header button{
    width:50px;
    height:50px;
    position:absolute;
    top:15px;
    right:15px;
    z-index:2;
    border-radius: 25px;
    background: #fff;
    border:0px;
    box-shadow: none;
    outline:none;
    cursor:pointer;

    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}

header button svg{
    width:16px;
    height:16px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-8px 0 0 -8px;
}

header button svg .fill{
    fill:#25b99a;
}

.container {
	width:90%;
    float:left;
    padding:15px;
}

ul.todo{
    width:100%;
    padding-left: 0px;
    float:left;
    list-style: none;
}

ul.todo li{
    width:100%;
    float:left;
    font-size:14px;
    font-weight: 500;
    color:#444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
    margin:0 0 10px 0;
    padding:14px 0px 14px 14px;
}

ul.todo li:last-of-type{
    margin: 0;
}

ul.todo li .buttons{
    width:100px;
    height:50px;
    position:absolute;
    top:0;
    right:0;
}

ul.todo li .buttons button{
    width:50px;
    height:50px;
    float:left;
    background: none;
    border:0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    position: relative;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}

ul.todo li .buttons button:last-of-type:before{
    content:"";
    width:1px;
    height:30px;
    position:absolute;
    top:10px;
    left:0px;
    background: #edf0f1;

}

ul.todo li .buttons button svg{
    width:22px;
    height:22px;
    position:absolute;
    top:50%;
    left:50%;
    margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg{
    border-radius: 17px;
    border:1px solid #25b99a;

    transition:background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;

}

ul.todo:not(#completed) li .buttons button.complete:hover svg{
    background:rgba(37,185,154,0.75);
}
ul.todo:not(#completed) li .buttons button.complete:hover svg .fill{
    fill:#fff;
}

ul.todo#completed li .buttons button.complete svg {
    background: #25b99a;
    border:0px;


}

ul.todo#completed li .buttons button.complete svg .fill {
    fill:#fff;
}

ul.todo li .buttons button svg .fill{
    -webket-transition:fill 0.2s ease;
    -moz-transition:fill 0.2s ease;
    -ms-transition:fill 0.2s ease;
    -o-transition:fill 0.2s ease;
    transition:fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill{
    fill:#c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill{
    fill:#e85656;
}

ul.todo li .buttons button.complete svg .fill{
    fill:#25b99a;
}

ul.todo li .buttons button svg .noFill{
    fill:none;
}

ul.todo#completed:not(:empty){
    position:relative;
    padding:10px 0 0 0;
}

ul.todo#completed:not(:empty):before{
    width:150px;
    height:2px;
    background: #d8e5e0;
    position:absolute;
    content:"";
    left:50%;
    margin: 0 0 0 -75px;
    top:-11px;
}






---------
#pomodoroClock{
   
   
}


.center{
    text-shadow: 0px 1px 1px #191919;
    cursor:default;
    width:500px;
    float:right;
    display:block;
    position:relative;
}

#title{
    padding-top:0px;
    width:100%;
    font-weight:400;
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}

#control{
    width:350px;
    padding-bottom: 15px;
    display: table;
    margin:auto;
    position:relative;
    text-align: center;
}

.description {
	font-size: 15px;
}

.value{
    font-size: 30px;
}

#session{
    width:108px;
    float:right;
}

#session .description{
    color:#2ECC71;
}

#break{
    width:100px;
    float:left;
}

#break .description{
    color:#e74c3c;
}

.operator{
    font-size: 33px;
    cursor: pointer;
    
}

.operator:hover{
    color:#95a5a6;
}

#next-pomodoro {
	margin-left:30px;
    float:left;
    cursor:pointer;
    font-weight:bold;
}

#reset-pomodoro {
	margin-right:30px;
    float:right;
    cursor:pointer;
    font-weight: bold;
}

#pomodoro {
	cursor:pointer;
    width:300px;
    height:300px;
    margin:auto;
    clear:both;
    border-radius: 50%;
    border:3px #2ecc71 solid;
    position:relative;
    overflow:hidden;
    text-shadow:none;
}

#pomodoro .time-left{
    left:50%;
    margin-left:-125px;
    margin-top: 70px;
    width:250px;
    text-align:center;
    font-size: 70px;
    z-index:4;
    position:absolute;  
}

#pomodoro .status{
    bottom:35%;
    left:50%;
    margin-left:-125px;
    width:250px;
    text-align: center;
    font-size: 15px;
    z-index: 4;
    position: absolute;
}

--------

.header{
    text-align: center;
    color:black;
}


.navbar-nav li a{
    color:black;
    font-size: 20px;
}

.navbar-header a{
    
    font-size: 20px;
}

.header{
    margin-top:250px;
}

.header h1{
    font-size: 50px;
}

.header p{
    font-size: 10px;
}
