<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Language</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-java-plain"></i>
    <i class="devicon-javascript-plain colored"></i>
    <p>Java, C#, JavaScript, HTML/CSS, Python</p>
  </div>
  <div class="tech">
    <h2>Framework</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>React, React Native, ExtJS, AngularJS, NodeJS, ExpressJS</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-mongodb-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <p>MongoDB, MySQL, Firebase, Git, Viusal Studio Code</p>
  </div>
</div>
