<div class="user-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="gittrend" style="height:600px;"src="{{ "/assets/img/gittrend.png" | prepend: site.baseurl }} " />
    </div>
    <div class="contents">
      <h3> GITTREND </h3>
      <ul>
        <li> React Native, Redux</li>
      </ul>
      <p>Implemented an App with React Native and Redux for users to browse Github trending and popular projects.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" height="200" src="{{ "/assets/img/exmoney.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> EXMONEY </h3>
      <h4> https://exxmoney.herokuapp.com/ </h4>
      <ul>
        <li> React</li>
      </ul>
      <p>Developed a web app with React for users to track their personal expense and income.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="blogform" height="200" src="{{ "/assets/img/blogform.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Blogform </h3>
      <h4> https://blogform.herokuapp.com/ </h4>

      <ul>
        <li> JavaScript, NodeJs, ExpressJs, MongoDB</li>
      </ul>
      <p>A blog platform developed with JavaScript, Node.js, MongoDB, Express.js for users to create their own blog.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/lit.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Lit Heat Map </h3>
      <h4>https://azekic.github.io/lit/</h4>
      <ul>
        <li> JavaScript, AngularJs, Firebase</li>
      </ul>
      <p>Designed and created an event tracker that can display current and future event by using AngularJS and Firebase with a team
        of 6 people</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>