<div class="user-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/gittrend.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> GITTREND </h3>
      <ul>
        <li> React Native, Redux</li>
      </ul>
      <p>Implemented an App with React Native and Redux for users to browse Github trending and popular projects.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> EXMONEY </h3>
      <ul>
        <li> React</li>
      </ul>
      <p>Developed a web app with React for users to track their personal expense and income.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/blogform.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Blogform </h3>
      <ul>
        <li> JavaScript, NodeJs, ExpressJs, MongoDB</li>
      </ul>
      <p>a blog platform developed with JavaScript, Node.js, MongoDB, Express.js for users to create their own blog and share them</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Project Title </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>